.btn-reset {
  background: hsla(0, 0%, 0%, 0);
  border: none;
  outline: none;
  -webkit-appearance: none;
  box-shadow: none;
}

.btn {
  font-size: 13px;
  line-height: 20px;
  display: inline-block;
  color: hsl(0, 0%, 45%);
  text-decoration: none;
}
