/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  background-color: #e7ebef;
  font: 12px/18px 'Open Sans',"Lucida Grande","Lucida Sans Unicode",Arial,Helvetica,Verdana,sans-serif;
}

.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
}
.clearfix:after {
  clear: both;
}

.pull-right {
  float: right;
}

.login-head {
  height: 226px;
  background-color: #5d82a0;
}

.panel {
  background-color: #fff;
  margin: -101px auto 90px;
  border: 1px solid #c3c3c3;
}

.panel-body {
  padding: 44px 65px;
}

.alert {
  background-color: #ff9494;
  padding: 10px 15px;
  margin-bottom: 20px;
}

[v-cloak] {
  display: none;
}

/* Sign in */


.panel-signin {
  max-width: 404px;
}

.panel-signin h3 {
  color: hsl(0, 0%, 13%);
  margin: 0 0 20px;
  font-size: 15px;
  font-weight: 700;
}

.panel-signin p {
  color: hsl(0, 0%, 60%);
  margin: 15px 0 30px;
  font-size: 13px;
  line-height: 160%;
}

/* Chats */

.panel-chats {
  max-width: 880px;
  min-height: 440px;
  display: flex;
}

.panel-chats .sidebar {
  flex-shrink:0;
  width: 30%;
  min-height: 440px;
  min-width: 263px;
  border-right: 1px solid #cacfd2;
}

.panel-chats .main {
  position: relative;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  background-image: url(../images/bg.jpg);
}

.panel-chats .main .head {
  padding: 15px;
  width: 100%;
  background-color: #fff;
  border-bottom: 1px solid #cacfd2;
}

.panel-chats .main .footer {
  background-color: #fff;
  padding: 10px 15px;
  position: relative;
  margin-top: auto;
}

.panel-chats .sidebar .head {
  padding: 15px;
  border-bottom: 1px solid #cacfd2;
}

.panel-chats .sidebar .items {
  max-height: 603px;
  overflow-y: scroll;
}

.panel-chats .sidebar .item {
  padding: 15px;
  background-color: #fff;
  cursor: pointer;
}

.panel-chats .sidebar .item:hover {
  background-color: #ebebeb;
}

.panel-chats .sidebar .item.active {
  background-color: #429dd7;
  color: #fff;
}

.panel-chats .btn-create-room {
  font-size: 12px;
  line-height: 1;
}

.panel-chats .footer-input-wrap {
  display: block;
  width: 100%;
  padding-right: 35px;
}

.panel-chats .send-message {
  position: absolute;
  right: 14px;
  top: 14px;
  width: 20px;
  height: 20px;
}

.panel-chats .body {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  max-height: 558px;
  overflow-y: scroll;
}

/* Messages */

.message {
  margin-bottom: 4px;
}

.message .bubble {
  position: relative;
  display: inline-block;
  background-color: #effdde;
  box-shadow: 0 2px 1px 0 hsla(207, 13%, 67%, 0.5);
  padding: 5px 10px;
  border-radius: 6px;
}

.message .bubble:after {
  position: absolute;
  content: '';
  bottom: 0;
  width: 16px;
  height: 10px;
  background-color: inherit;
  z-index: 1;
  box-shadow: 0 2px 1px 0 rgba(160,172,182,.5);
  right: -10px;
  left: initial;
  clip-path: url(#right-droplet);
}

.message .bubble.right {
  float: right;
  margin-right: 14px;
}
