.message {
  margin-bottom: 4px;
}

.message.human {
  text-align: right;
  margin-right: 14px;
}

.message.sys {
  text-align: center;
}

.message.human .bubble {
  position: relative;
  display: inline-block;
  background-color: #effdde;
  box-shadow: 0 2px 1px 0 hsla(207, 13%, 67%, 0.5);
  padding: 5px 10px;
  border-radius: 6px;
}

.message.human .bubble:after {
  position: absolute;
  content: '';
  bottom: 0;
  width: 16px;
  height: 10px;
  background-color: inherit;
  z-index: 1;
  box-shadow: 0 2px 1px 0 rgba(160,172,182,.5);
  right: -10px;
  left: initial;
  clip-path: url(#right-droplet);
}

.message.sys .bubble {
  background: #96a2ab;
  border-radius: 13px;
  padding: 5px 10px;
  display: inline-block;
  color: #fff;
}
