<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>rox</title>
  <link rel="stylesheet" href="/css/reset.css">
  <link rel="stylesheet" href="/css/main.css">
  <link rel="stylesheet" href="/css/form.css">
  <link rel="stylesheet" href="/css/button.css">
  <link rel="stylesheet" href="/css/chat.css">
  <link rel="stylesheet" href="/css/chat-content.css">
  <link rel="stylesheet" href="/css/chat-sidebar.css">
  <link rel="stylesheet" href="/css/message.css">
  <link rel="stylesheet" href="/css/open-iconic.css">
  <link rel="stylesheet" href="/css/transition.css">
</head>
<body>

<div id="app" v-cloak>

  <div class="login-head"></div>

  <div class="panel panel-signin" v-if="!authenticated">
    <div class="panel-body">

      <h3>Sign in</h3>

      <p>Please enter your login name and password.</p>

      <div class="alert" v-if="error">
        {{ error.message }}
      </div>

      <form @submit="login">

        <div class="form-group">
          <label>login</label>
          <input type="text" class="form-control" v-model="user.login" tabindex="1">
        </div>

        <div class="form-group">
          <label>password</label>
          <input type="password" class="form-control" v-model="user.password" tabindex="2">
        </div>

        <div class="clearfix">
          <button type="submit" class="btn btn-reset pull-right" tabindex="3">Next ></button>
        </div>
      </form>
    </div>
  </div>
  <div v-if="authenticated">
    <div class="panel panel-chats clearfix">
      <div class="sidebar">
        <div class="head">
          <a href="#" class="btn btn-create-room" @click="createRoom">
            <span class="oi" data-glyph="plus" title="plus" aria-hidden="true"></span>
            Create room
          </a>

          <a href="#" class="btn btn-join-room" @click="joinRoom">
            <span class="oi" data-glyph="account-login" title="account-login" aria-hidden="true"></span>
            Join room
          </a>
        </div>
        <div class="items">
          <div class="item"
              v-for="(chat, uuid) in chats"
              :class="{ 'active': activeChatUUID === uuid }"
              @click="selectChat(uuid)">
            <div class="item-head">
              <span class="oi" data-glyph="people"></span>
              {{ chat.title || chat.uuid }}
            </div>
            <div class="item-subhead" v-if="chat.messages[chat.messages.length - 1]">
              <span class="item-user">{{ chat.messages[chat.messages.length - 1].sender.login }}:</span>
              <span class="item-text">{{ chat.messages[chat.messages.length - 1].text }}</span>
            </div>
            <div class="item-subhead" v-else>Last message content</div>
          </div>
        </div>
      </div>
      <div class="main">
        <div class="inner" v-if="!chatSettingsOpened">
          <div class="head" v-if="activeChat" @click="chatSettingsOpened = !chatSettingsOpened">
            <div class="head-title">Talking in {{ activeChat.uuid }}</div>
            <div class="head-subtitle">Member Count: {{ activeChat.membersCount }}</div>
          </div>

          <div class="body" v-if="activeChat" ref="messages">
            <div v-for="message in activeChat.messages" class="message"
                :class="{ 'sys': message.type === 'sys', 'human': message.type === 'human' }">
              <div class="bubble">{{ message.text }}</div>
            </div>
          </div>

          <div class="footer" v-if="activeChat">
            <form @submit="sendMessage">
              <div class="footer-input-wrap">
                <input type="text" class="form-control" placeholder="Write a message..." v-model="activeChat.message">
              </div>
              <button type="submit" class="btn-reset send-message">
              <span class="oi" data-glyph="location"></span>
            </button>
            </form>
          </div>
        </div>
        <div class="chat-settings" v-else>
          <div v-if="activeChat">
            <div class="head">
              <div @click="chatSettingsOpened = !chatSettingsOpened">
                <span class="oi" data-glyph="chevron-left"></span> Back
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <svg height="0" width="0">
    <defs>
      <clipPath id="left-droplet">
        <path d="M 10,0 A 10,10 0 0 1 0,10 H 16 V 0 Z">
      </clipPath>
      <clipPath id="right-droplet">
        <path d="M 6,0 A 10,10 0 0 0 16,10 H 0 V 0 Z">
      </clipPath>
    </defs>
  </svg>

</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.4.2/vue.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/app.js"></script>
</body>
</html>
